extends layout

block head
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

  script(type='text/javascript', src='/javascripts/controllers/TodoListController.js')
 

block content

  div.container(ng-controller="TodoListController", ng-init="setTodos( #{JSON.stringify(todos)} )")
    div.row
      div.col-md-6
        div.todolist.not-done
          h1 DO-IT
          form(novalidate, ng-submit="addNewTodo()")
          input.form-control.add-todo( ng-model="newTodo.description",
                      placeholder="Add Task")
          br
          div(ng-model="newTodo.due")
            datepicker()
          br
          button.btn.btn-success(type="submit") Add Task
          hr
          div
            div.todo.not-done(ng-repeat="todo in todos | filter:notDoneFilter")
              div.span9
                label.checkbox(style="padding-left:5px;")
                  input(type="checkbox", ng-model="todo.done", ng-change="update(todo)")
                  | {{todo.description}}
              div.text-right
                i {{todo.due | date:'MMM d, yyyy'}}

              hr
          div.todo-footer
            span.count-todos
              Showing {{(todos|filter:notDoneFilter).length}} Tasks Left
      div.col-md-6
        div.todolist
          h2 Already Done
          div
            div.todo.done(ng-repeat="todo in todos | filter:doneFilter")
              div.span9
                label.checkbox
                  input(type="checkbox", ng-model="todo.done", ng-change="update(todo)")
                  del {{todo.description}}
              div.text-right
                i {{todo.due | date:'MMM d, yyyy'}}
              
              hr