extends layout

block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  link(rel='stylesheet', href='/stylesheets/style.css')

  script(type='text/javascript', src='/javascripts/controllers/TodoListController.js')

block content

  div.container(ng-controller="TodoListController", ng-init="setTodos( #{JSON.stringify(todos)} )")
    div.col-md-6.todolist
      h1 DO YR WORK
      hr
      form(ng-submit="addNewTodo()" align="center")
        textarea( ng-model="newTodo.description",
                  placeholder="What Do You Need To Do?" style="width: 50% !important;", required)
        br
        br
        div(ng-model="newTodo.due" align="center")
          h4 When do you need it done by?
          datepicker()
        br
        hr
        button.btn.btn-success(type="submit") Add Task
    div.col-md-5.todolist.not-done
      h2 Need to Do
      hr
      div
        div.row.todo.not-done(ng-repeat="todo in todos | filter:notDoneFilter")
          div.span9
            label.checkbox
              input(type="checkbox", ng-model="todo.done", ng-change="update(todo)")
              | {{todo.description}}
          div.span3.text-right
            i {{todo.due | date:'MMM d, yyyy'}}
          button.remove-item.btn.btn-default.btn-xs.pull-right(ng-click="deleteTodo(todo);")
            span.glyphicon.glyphicon-remove
          hr
      div.todo-footer
        span.count-todos
          {{(todos | filter:notDoneFilter).length}} Tasks Left
    div.col-md-5.todolist
      h2 Done
      hr
      div
        div.row.todo.done(ng-repeat="todo in todos | filter:doneFilter")
          div.span9
            label.checkbox
              input(type="checkbox", ng-model="todo.done", ng-change="update(todo)")
              del {{todo.description}}
          div.span3.text-right
            i {{todo.due | date:'MMM d, yyyy'}}
          button.remove-item.btn.btn-default.btn-xs.pull-right(ng-click="deleteTodo(todo);")
            span.glyphicon.glyphicon-remove